/*general*/

*,*:after,*:before
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    

}


.container{
    width:1200px;
    margin: auto;
}

body{
    font-family: 'Roboto Slab', serif;
    height: 5000px;
    overflow-x: hidden;

}
.clearfix{
    clear:both;
}
.overlay{
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    left:0;
    background: rgba(0,0,0,0.6);
    z-index: 1;

}
.navbar{
        height: 0;
    padding: 0;
    z-index: 3;
}
.navbar .navbar-brand{
    color: #fff;
    font-size: 30px;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff;
}

.navbar-light .navbar-nav .active .nav-link,
.navbar-light .navbar-nav .nav-link:hover{
    color: #FF1756;
    border-bottom: 2px solid #fff;
}

/*********header***********/
/*home sections*/
.header{

background-repeat: no-repeat;
width: 100%;
background-size: cover;
background-image: url("../images/home.jpg");
background-position: center;
position: relative;


color: #fff;
}
/*bxslider*/

.header .slider {
    list-style: none;

}
.header .slider li{
    display: block;
   
}
.header .slider li h2{
    font-size: 3rem;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    width: 50%;
    margin: auto;
}
@media(max-width: 768px){
    .header .slider li h2{
        font-size: 22px;
    }

}
.header .slider li h2 span{
    color: #FF1756;
}
.header .slider li p{
    font-size: 20px;
    color: #ccc;
    margin-top: 20px;
}
.header .slider li button{
    padding: 10px 20px;
    background: transparent;
    color: #fff;
}
@media(max-width: 768px){
  .header .slider li button{
    padding: 5px 10px;
  }  
}
.header .slider li button:hover{
    background: #FF1756;
}
.header .bx-wrapper {
background: none;
border: 0;
height: 100%;
}
.bx-viewport{
box-shadow: none;
background: none;
border: 0;
height: 100% !important;
text-align: center;


}
/*offers*/
.offers{
    
    overflow:auto;
    width: 100%;
    
    padding: 50px;
    color: #fff;


}
.offers .col-md-3{

    margin-right: 10px;
}
@media(max-width: 768px){
.offers .col-md-3{
    margin-bottom: 20px;
}
}
.offers .root{
margin: auto;
padding: 40px;
}
.offers .root button{
    padding: 10px 20px;
    background: #FF1756;
    color: #fff;
    border: 0;
}
.feet{
    background:rgba(0, 0, 0, 0.54)  url(../images/ser1.jpg);
    max-width: 100%;
    background-size: cover;
    background-blend-mode: overlay;
    

}
.feet2{
    background:rgba(0, 0, 0, 0.54)  url(../images/ser2.jpg);
    max-width: 100%;
    background-size: cover;
    overflow: hidden;
    background-blend-mode: overlay;
   

}
.feet3{
    background:rgba(0, 0, 0, 0.54)  url(../images/ser3.jpg);
    max-width: 100%;
    background-size: cover;
    overflow: hidden;
    background-blend-mode: overlay;
    
}
